<div class="individual-client">
  <div class="individual-client__it1">
    <div class="individual-client__it1__content">
      {{#each client.detailAgreements}}
      <a href="/da/{{id}}">{{number}}</a>
      {{/each}}
    </div>
  </div>
  <div class="individual-client__service">
    {{#each client.services}}
    <a href="/services/{{id}}">{{name}} {{parameter}}</a>
    {{/each}}
  </div>

  
  {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDetailAgreement">
    Add Detail Agreement for {{client.name}}
  </button>  --}}
  {{> clients/add_da_modal}}
</div>